body {
    margin: 0;
}
.MuiTreeItem-root.Mui-selected > .MuiTreeItem-content .MuiTreeItem-label {
    background-color: #fff !important;
}

input::-webkit-clear-button {
    display: none;
}

input[type="date" i]::-webkit-inner-spin-button {
    display: none;
}
